body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#headerContainer{
	background-image:linear-gradient(#12359B, #A0D9E9);
	background-image:-moz-linear-gradient(#12359B, #A0D9E9);
	background-image:-webkit-linear-gradient(#12359B, #A0D9E9);
	background-image:-o-linear-gradient(#12359B, #A0D9E9);
	background-image:-ms-linear-gradient(#12359B, #A0D9E9);
	overflow:hidden;
	position:relative;	
	margin-bottom:0;
}
#headerContent{
	position:relative;
	z-index: 5;
}
#eventEdition, #eventDate{
	border:solid 3px #FFFFFF;
	padding:20px;
	color:#FFFFFF;
	text-align:center;
	text-transform:uppercase;
}
#eventEdition{
	background:#00B8F1;	
	font-size:2em;
	border-radius:40px 40px 40px 0px;
}
#eventEdition span{
	text-transform:lowercase;
	font-size:1em;
}
#eventDate{
	background:#FB3099;
	font-size:2.5em;
	border-radius:80px 80px 0px 80px;
}
#mainNav{
	background-image:linear-gradient(#BDEF0E, #A6D30B);
	background-image:-moz-linear-gradient(#BDEF0E, #A6D30B);
	background-image:-webkit-linear-gradient(#BDEF0E, #A6D30B);
	background-image:-o-linear-gradient(#BDEF0E, #A6D30B);
	background-image:-ms-linear-gradient(#BDEF0E, #A6D30B);
}
#footerContainer{
	background-image:linear-gradient(#BDEF0E, #A6D30B);
	background-image:-moz-linear-gradient(#BDEF0E, #A6D30B);
	background-image:-webkit-linear-gradient(#BDEF0E, #A6D30B);
	background-image:-o-linear-gradient(#BDEF0E, #A6D30B);
	background-image:-ms-linear-gradient(#BDEF0E, #A6D30B);
	margin-top:30px;
	clear:both;
}


#cloud1{
	position:absolute;
	top:105px;
	left:-350px;
	z-index: 3;
}
#cloud2{
	position:absolute;
	top:10px;
	left:170px;
	z-index: 2;
}
#cloud3{
	position:absolute;
	bottom:10px;
	right:170px;
	z-index: 1;
}