body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* ==========================================================================
                           Author's custom styles
   ========================================================================== */
h1{
	color:#3B1E7C;
}
h2{
	color:#3B1E7C;
}
h3{
	color:#00B8F1;
}

/* ==========================================================================
                                  HEADER
   ========================================================================== */
header{
	background-image:linear-gradient(#12359B, #A0D9E9);
	background-image:-moz-linear-gradient(#12359B, #A0D9E9);
	background-image:-webkit-linear-gradient(#12359B, #A0D9E9);
	background-image:-o-linear-gradient(#12359B, #A0D9E9);
	background-image:-ms-linear-gradient(#12359B, #A0D9E9);
	overflow:hidden;
	position:relative;	
	margin-bottom:0;
	padding-bottom: 48px;
    padding-top: 48px;
}
#cloud1{
	position:absolute;
	top:105px;
	left:-350px;
	z-index: 3;
}
#cloud2{
	position:absolute;
	top:10px;
	left:170px;
	z-index: 2;
}
#cloud3{
	position:absolute;
	bottom:10px;
	right:170px;
	z-index: 1;
}
#headerContent{
	position:relative;
	z-index: 5;
}
#logo24h{
	display:block;
	margin-top:7px;
	padding-bottom:7px;
}
#eventEdition, #eventDate{
	border:solid 3px #FFFFFF;
	padding:20px;
	color:#FFFFFF;
	text-align:center;
	text-transform:uppercase;
}
#eventEdition{
	background:#00B8F1;	
	font-size:2em;
	border-radius:40px 40px 40px 0px;
	margin-top:7px;
	margin-bottom:15px;
	
}
#eventEdition span{
	text-transform:lowercase;
	font-size:1em;
}
#eventDate{
	background:#FB3099;
	font-size:2.5em;
	border-radius:80px 80px 0px 80px;
	margin-bottom:7px;
}
#daysCountdown .time_circles{
	height:144px !important;
}
#hoursCountdown .time_circles{
	height:120px !important;
}



/* ==========================================================================
                                 NAVIGATION
   ========================================================================== */
#mainNav{
	background-image:linear-gradient(#BDEF0E, #A6D30B);
	background-image:-moz-linear-gradient(#BDEF0E, #A6D30B);
	background-image:-webkit-linear-gradient(#BDEF0E, #A6D30B);
	background-image:-o-linear-gradient(#BDEF0E, #A6D30B);
	background-image:-ms-linear-gradient(#BDEF0E, #A6D30B);
}
#mainNav ul li a{
	font-size: 18px;
}
#mainNav ul li a:hover{
	color: #FFFFFF;
	background:#3B1E7C;
}
#mainNav .active{
	color: #FFFFFF;
	background:#3B1E7C;
}


/* ==========================================================================
                                 CONTENT
   ========================================================================== */
.first{
	margin-bottom:15px;
}
.first p{
	font-size:18px;
}
.program p{
	margin-bottom:4px;
}

/* ==========================================================================
                                 FOOTER
   ========================================================================== */
footer{
	margin-top:30px;
	clear:both;
}
footer .copyright{
	background-image:linear-gradient(#BDEF0E, #A6D30B);
	background-image:-moz-linear-gradient(#BDEF0E, #A6D30B);
	background-image:-webkit-linear-gradient(#BDEF0E, #A6D30B);
	background-image:-o-linear-gradient(#BDEF0E, #A6D30B);
	background-image:-ms-linear-gradient(#BDEF0E, #A6D30B);
	text-align:center;
	padding:12px 0;
	color:#3B1E7C;
	width:100%;
	clear:both;
	margin:0 !important;
}
.fb-like-box{
	background: none repeat scroll 0 0 #00B8F1;
    border: solid 3px #3B1E7C;
    border-radius: 40px 40px 40px 0;
    padding: 20px 0 20px 35px;
}
#sliderSponsors{
	border: solid #FB3099 3px;
    border-radius: 40px 40px 0 40px;
	clear:both;
	margin:50px 0;
}
.bxslider{
	padding:0;
}
.bxslider li{
	text-align:center;
	padding:20px 0;
}
#affiche{
	text-align: center;
    clear: both;
    border: solid #00B8F1 3px;
    border-radius: 40px 40px 0 40px;
    padding: 20px;
	height:278px;
}
#affiche a{
	display:block;
}
footer .col-md-4{
	
}
